*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: rgb(38,69,88);
    background: linear-gradient(90deg, rgba(38,69,88,1) 0%, rgba(114,145,164,1) 100%);
    color: white;
    padding: 2em;
}
h1, h2{
    font-family: 'Roboto Mono', monospace;
}
main{
    display: grid;
    gap: 1em;
    grid-template-rows: 16em 16em 16em;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: 
    "n a d d f"
    "n b e g h"
    "n c e i i"
    ;
    margin: 1em 0;
}
main section{
    background-color: #EBECEC;
}
nav{
    grid-area: n;
}
section.a{
    grid-area: a;
    line-height: 2em;
}
section.b{
    grid-area: b;
}
section.c{
    grid-area: c;
    padding: 0;
    background-image: url(palestrantes/ellen.jpg);
    background-size: 25em;
    background-repeat: no-repeat;
    filter: grayscale(0.9);
}
section.d{
    grid-area: d;
}
section.e{
    grid-area: e;
}
section.f{
    grid-area: f;
    padding: 0;
    background-image: url(palestrantes/amanda.jpg);
    background-size: 25em;
    background-repeat: no-repeat;
    filter: grayscale(0.9);
}
section.g{
    grid-area: g;
    padding: 0;
    background-image: url(palestrantes/georgia.jpg);
    background-size: 35em;
    background-repeat: no-repeat;
    filter: grayscale(0.9);
}
section.h{
    grid-area: h;
    padding: 0;
    background-image: url(palestrantes/henrique.jpg);
    background-size: 25em;
    background-repeat: no-repeat;
    filter: grayscale(0.9);
}
section.i{
    grid-area: i;
}
section{
    padding: 2em;
}
td{
    border: 2px solid white;
    padding: 0.3em;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
h3{
    margin-bottom: 1em;
    font-size: 1.7em;
    font-family: 'Roboto Mono', monospace;
}
ul li{
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 1em;
}
p{
    margin: 1em 0;
}
input[type=text], input[type=email], input[type=tel]{
    padding: 1em;
    margin-bottom: 2em;
    box-sizing: border-box;
    width: 100%;
    display: block;
}
input[type=submit]{
    display: block;
    padding: 1em;
    margin-top: 2em;
    width: 12em;
    color: lightgray;
    background-color: black;
    margin: 2em auto 0 auto;
}
input[type=submit]:hover{
    background-color: rgba(0,0,0,0.3);
    color: white;
}
footer{
    padding: 4em;
    background-color: #224459;
    text-align: center;
    color: white;
}
section.c h3, section.f h3, section.g h3, section.h h3{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    font-weight: normal;
    padding: 1.5em;
    margin-top: 4em;
}
b{
    color: #536B79;
}
section.a p a{
    color: #657986;
    border: 1px solid #536B79;
    padding: 0.2em;
    text-decoration: none;
}
section.a p a:hover{
    background-color: #657986;
    color: white;
}
nav{
    background-color: #C6D1D9;

    color: #457B91;
}
ol li{
    margin: 1em;
    font-size: 3em;
}
ol li a{
    font-family: 'Roboto Mono', monospace;
    color: #457B91;
    text-decoration: none;
}
ol li a:hover{
    text-decoration: underline;
}
