*{
    /* Se refere a todas as tags da página */
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    background: rgb(31,33,90);
    background: linear-gradient(90deg, rgba(31,33,90,1) 0%, rgba(78,197,171,1) 100%);
    padding: 2em;
    justify-content: space-between;
}
h1 a{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
ol{
    display: flex;
}
li{
    display: flex;
    margin: 1em;
    text-align: right;
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: rgba(31,33,90,1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
main{
    margin: 0 auto;
    background-color: #ECECEC;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90em;
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 57em;
    justify-content: center;
    margin-top: 1.5em;
}
section>div{
    margin: 1.5em;
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 23.5em;
    height: 13em;
}
aside{
    background-color: white;
    width: 25em;
    margin: 3em;
    padding: 1em;
    height: 49em;
    display: flex;
    flex-direction: column;
    align-content: center;
}
aside div{
    background-color: unset;
    display: flex;
    margin: 1em;
    padding: 0;
}
body{
    background-color: #ECECEC;
}
div.botao{
    margin: 1em;
    padding: 1em;
    width: 8em;
    height: 1.5em;
    background-color: #D8D8D8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.botao p a{
    text-decoration: none;
    color: black;
    margin: 0 auto;
}
footer p{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    color: #1C2159;
}
footer{
    display: flex;
    background-color: #D8D8D8;
    padding: 5em;
    flex-direction: column;
    justify-content: flex-start;
}
form input[type=text]{
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
    width: 20em;
    height: 2em;
}
aside ::placeholder{
    color: #1C2159;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
input[type=submit]{
    border: 0;
    width: 7em;
}
img[src="imagens/calendario.png"]{
    width: 23em;
}
div.eventos{
    height: 26em;
    display: block;
}
aside div h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    color: #1C2159;
    background-color: whitesmoke;
    padding: 0.5em;
    font-size: 2em;
    margin: 0 0 0.5em 0;
}
aside input[type=radio]{
    margin: 1em 0em 1em 1em;
}
form{
    display: flex;
    flex-direction: column;
}
input[type=submit]{
    padding: 1em;
    margin: 0 auto;
    width: 10em;
}
figure{
    margin: 0.1em auto;
}
div p.info{
    color: grey;
    margin-bottom: 0.5em;
}
div.info2{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
div.enquete{
    display: block;
}
